

.Text {
    font-family: sans-serif;
    padding: 8px;
    box-sizing: border-box;
    resize: none;
}

fieldset.Text {
    display: table;
    margin: 0 auto;
    padding: 8px;
    box-sizing: border-box;
}

.textarea.Text {
    font-family: sans-serif;
    width: 30ch;
    height: calc(4 * 1.2em);
    padding: 8px;
    font-size: 12px;
    box-sizing: border-box;
    resize: none;
}

.Fancify {
    font-family: sans-serif;
    color: blue;
    text-shadow: 2px 2px 5px red;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

.Fancify input[type="button"]#Bigger {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    color: black;
    background-color: red;

}

label.boring {
    color: black;
    text-shadow: none;
}

.Fancify input[type="button"]#Moo {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    color: black;
    background-color: blue;

}